.Auth-Login {
  max-width: 800px;
  min-height: 90vh;
  margin: 20px;
  padding: 20px;

}
.Auth-Logo {
   max-width: 250px !important;
   max-height: 250px !important;
  margin-bottom: 5px !important; 
  /*align-items: center; */
}
