.TaskManager{
  background: #7b748a;
  color: #fff;
  max-width: 500px;
  padding: 2rem 3rem;
  box-shadow: -20px -20px 0px 0px rgba(100,100,100, 0.1);
  margin-top: 50px;
  margin-left: 20px;
}

.TaskManager ul{
  list-style: none;
  color: #fff;
}

.TaskManager-Task{
  color: #fff;
}

.TaskManager-Heading{
  display: flex;
  align-items: center;
}

.TaskManager-Title{
  font-size: 2rem !important; 
  padding-left: 10px;
}